#employeeList {
    border: 2px;
}
#employeeList tr:first-child, #employeeList tr:first-child:hover{
    background-color:darkgray;
}

#employeeList tr:hover{
    background-color: aquamarine;
}

.selected-row {
    background-color: aquamarine;
}