<div id="employeeBioContent">
    <h3>
        Bio-Content
    </h3>

    <ul>
        <li class="employee-property">First Name:</li>
        <li class="employee-property-value">{{$ctrl.employee.firstName}}</li>
    </ul>
    <ul>
        <li class="employee-property">Last Name:</li>
        <li class="employee-property-value">{{$ctrl.employee.lastName}}</li>
    </ul>

    <ul>
        <li class="employee-property">Sex:</li>
        <li class="employee-property-value">{{$ctrl.employee.sex}}</li>
    </ul>

    <ul>
        <li class="employee-property">Age:</li>
        <li class="employee-property-value">{{$ctrl.employee.age}}</li>
    </ul>
    <ul>
        <li class="employee-property">Title:</li>
        <li class="employee-property-value">{{$ctrl.employee.title}}</li>
    </ul>
</div>